// WorkSans

@font-face {
  font-family: 'WorkSans';
  src: url('@/assets/fonts/WorkSans/WorkSans-Light.eot');
  src: local('WorkSans Light'), local('WorkSans-Light'),
    url('@/assets/fonts/WorkSans/WorkSans-Light.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/WorkSans/WorkSans-Light.woff2') format('woff2'),
    url('@/assets/fonts/WorkSans/WorkSans-Light.woff') format('woff'),
    url('@/assets/fonts/WorkSans/WorkSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('@/assets/fonts/WorkSans/WorkSans-Regular.eot');
  src: local('WorkSans Regular'), local('WorkSans-Regular'),
    url('@/assets/fonts/WorkSans/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/WorkSans/WorkSans-Regular.woff2') format('woff2'),
    url('@/assets/fonts/WorkSans/WorkSans-Regular.woff') format('woff'),
    url('@/assets/fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('@/assets/fonts/WorkSans/WorkSans-Medium.eot');
  src: local('WorkSans Medium'), local('WorkSans-Medium'),
    url('@/assets/fonts/WorkSans/WorkSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/WorkSans/WorkSans-Medium.woff2') format('woff2'),
    url('@/assets/fonts/WorkSans/WorkSans-Medium.woff') format('woff'),
    url('@/assets/fonts/WorkSans/WorkSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('@/assets/fonts/WorkSans/WorkSans-SemiBold.eot');
  src: local('WorkSans SemiBold'), local('WorkSans-SemiBold'),
    url('@/assets/fonts/WorkSans/WorkSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/WorkSans/WorkSans-SemiBold.woff2') format('woff2'),
    url('@/assets/fonts/WorkSans/WorkSans-SemiBold.woff') format('woff'),
    url('@/assets/fonts/WorkSans/WorkSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
