$border: rgba(0, 0, 0, 0.1);

.vfm {
  div.vfm__overlay.vfm--overlay {
    background-color: rgba(245, 245, 245, 0.8);
  }

  &--modal {
    display: flex;
    justify-content: center;
    align-items: center;

    &-container {
      position: relative;
      padding: 28px 36px;
      width: 100%;
      max-height: 100vh;
      background: #fff;
      border-radius: 4px;
      overflow-y: auto;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;

        &-track {
          background-color: transparent;
        }

        &-thumb {
          background-color: #cbcbcb59;
          border-radius: 4px;
        }
      }
    }

    &-fullscreen {
      width: 100vw;
      height: 100vh;
    }

    &-close {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 24px;
      height: 24px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 11px;
        left: 2px;
        width: 22px;
        height: 1px;
        background-color: $border;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

    &-header {
      h3 {
        font-size: 18px;
        font-weight: 400;
        opacity: 0.8;
      }
    }

    &-content {
      font-size: 14px;
      font-weight: 300;
    }
  }
}