.vfm--modal-container {
  button.btn-bg {
    width: 100%;
  }
}

.modalBalanceAmount {
  margin-top: 4px;
  font-size: 11px;
  font-weight: 300;
  color: rgba(13, 13, 13, 0.4);
  text-align: right;
}

.modalBalanceInput {
  margin: 8px 0 16px;
  display: flex;
  position: relative;

  input {
    padding: 8px 64px 8px 12px;
    width: 100%;
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.06);
  }

  span {
    padding: 8px 16px;
    position: absolute;
    right: 0;
    color: var(--color-main);
    cursor: pointer;
    user-select: none;
  }
}
