.modalBalanceAmount {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 300;
  color: rgba(13, 13, 13, 0.4);
  text-align: right;
}

.modalBalanceInput {
  margin: 8px 0 16px;
  display: flex;
  position: relative;

  input {
    padding: 8px 64px 8px 12px;
    width: 100%;
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.06);
  }

  span {
    padding: 10px 12px;
    position: absolute;
    right: 0;
    color: var(--color-main);
    cursor: pointer;
    user-select: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
  }
}
