:root {
  --background-color: #fff;
  --color-main: rgb(49, 170, 183);
  --color-main-90: rgba(49, 170, 183, 0.9);
  --color-main-10: rgba(49, 170, 183, 0.12);
  --color-text: rgb(13, 13, 13);
}

$background-color: #fff;
$color-main: rgb(49, 170, 183);
$color-main-90: rgba(49, 170, 183, 0.9);
$color-main-10: rgba(49, 170, 183, 0.12);
$color-text: rgb(13, 13, 13);
